@if (matriculaSelecionada is null)
{
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <h2 class="text-dark text-center mt-2">Listagem de Vínculos</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <h5>ID: @servidor.IdFuncional</h5>
                    </div>
                    <div class="col-auto">
                        <h5>Nome: @servidor.Nome</h5>
                    </div>
                </div>
                <div class="table-responsive mt-2">
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center bg-info">
                                <th scope="col">Vínculo</th>
                                <th scope="col">Disciplina - Área</th>
                                <th scope="col">Data de Início do Exercício</th>
                                <th scope="col">Unidade</th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var vinculo in modelViewVinculo)
                        {
                            <tr class="text-center">
                                <td>@vinculo.matricula.Vinculo</td>
                                <td class="text-uppercase">@vinculo.importacaoMaisrecente.DisciplinaArea.Descricao</td>
                                <td class="text-uppercase">@vinculo.matricula.Datainicio</td>
                                <td>@vinculo.importacaoMaisrecente.Unidade.TipoUnidade</td>
                                <td><button type="button" class="btn btn-primary" @onclick="()=>SelecionarVinculo(vinculo.matricula)">VISUALIZAR</button></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
    <AvaliacoesHistorico vinculo="@matriculaSelecionada"></AvaliacoesHistorico>
}
@code{
    [Parameter]
    public List<ModelViewVinculo> modelViewVinculo { get; set; }
    [Parameter]
    public Servidor servidor {get; set;}
    private Matricula matriculaSelecionada = null;

    private void SelecionarVinculo(Matricula matricula)
    {
        matriculaSelecionada = matricula;
    }
}
